* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background-color: black;
    height: 100vh;
    color: white;
}


header {
    display: fixed;
    width: 100%;
    background-color: rgb(47, 46, 46);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    height: 100px;
    margin-top: 150px;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 100px;
    list-style: none;
    padding: 0;

}

.componentes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.link1 {
    display: inline-block;
    transition: 0.3s;
}

.link1:hover {
    color: red;
    transform: scale(1.2);


}

.link2 {
    display: inline-block;
    transition: 0.3s;
}

.link2:hover {
    color: red;
    transform: scale(1.2);
}

.link3 {
    display: inline-block;
    transition: 0.3s;
}

.link3:hover {
    color: red;
    transform: scale(1.2);
}

.link4 {
    display: inline-block;
    transition: 0.3s;
}

.link4:hover {
    color: red;
    transform: scale(1.2);
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo img {
    position: absolute;
    width: 10%;
    transition: all 3s;

}

.logo img:hover {
    transform: scale(1.2);
}


.carrossel {
    width: 60%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
    scroll-snap-type: x mandatory;


}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel::scroll-button(right),
.carrossel::scroll-button(left) {
    content: '🠖';
    border: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel;
    position-area: right center;
    translate: -50%;
    transition: all 2s;
}

.carrossel::scroll-button(left) {
    content: '🠔';
    position-area: left center;
    translate: 50%;
}

.carrossel::scroll-button(right):disabled,
.carrossel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carrossel::scroll-button(right):hover,
.carrossel::scroll-button(left):hover {
    transform: scale(1.2);
}

.card {
    scroll-snap-align: start;
    flex: 0 0 100%;
    padding: 1em;
    border-radius: .5em;
    align-content: center;
    object-fit: cover;
    overflow: hidden;


}

.card img {
    width: 100%;
    transition: all 3s;
    border-radius: 10px;

}

.card img:hover {
    transform: scale(1.2);
}


.container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;

}

.container h1 {
    margin-left: 25%;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 2s;
    margin-bottom: 1%;


}
.lado{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container h1:hover {
    transform: scale(1.1)
}

.container img{
    cursor: pointer;
    transition: all 2s;
    border-radius: 10px;
}

.container img:hover {
    transform: scale(1.1);
}

.historia {
    display: flex;
    color: white;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 5%;   
}

.historia h2 {
    margin-bottom: 2%;
    font-weight: 900;
    transition: all 2s;
}

.historia h2:hover {
    transform: scale(1.1) translate(40px, 10px);
}

.historia p {
    transition: all 2s;
}

.historia p:hover {
    transform: scale(1.2) translate(60px, 40px);
}

.rebaixamento {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;

}
.rebaixamento h1{
    margin-left: 28%;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 2s;
    margin-bottom: 1%;
}
.rebaixamento h1:hover {
    transform: scale(1.1)
}
.rebaixamento img{
    cursor: pointer;
    transition: all 2s;
    width: 615px;
    border-radius: 10px;
}

.lado1{
    display: flex;
    flex-direction: column;
    transition: all 2s;
}
.lado1 img:hover{
 transform: scale(1.1);
}
.rebaixamento-historia{
    display: flex;
    color: white;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 5%;   
}
.rebaixamento-historia h2{
    margin-bottom: 2%;
    font-weight: 900;
    transition: all 2s;
}
.rebaixamento-historia h2:hover{
    transform: scale(1.1) translate(40px, 10px);
}

.rebaixamento-historia p{
    transition: all 2s;
}
.rebaixamento-historia p:hover{
    transform: scale(1.2) translate(60px, 40px);
}

.redencao {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;

}
.redencao h1{
    margin-left: 28%;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 2s;
    margin-bottom: 1%;
}
.redencao h1:hover {
    transform: scale(1.1)
}
.redencao img{
    cursor: pointer;
    transition: all 2s;
    width: 615px;
    border-radius: 10px;
}

.lado2{
    display: flex;
    flex-direction: column;
    transition: all 2s;
}
.lado2 img:hover{
 transform: scale(1.1);
}
.redencao-historia{
    display: flex;
    color: white;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 5%;   
}
.redencao-historia h2{
    margin-bottom: 2%;
    font-weight: 900;
    transition: all 2s;
}
.redencao-historia h2:hover{
    transform: scale(1.1) translate(40px, 10px);
}

.redencao-historia p{
    transition: all 2s;
}
.redencao-historia p:hover{
    transform: scale(1.2) translate(60px, 40px);
}
