* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: black;
    min-height: 100vh;
    color: white;
}


header {
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: 1px 1px rgb(255, 255, 255);
    height: 110px;
    z-index: 1;
    top: 0;



}

nav ul {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;

}


.componentes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    align-items: center;
    display: inline-block;
    transition: all 0.3s;
}

nav a:hover {
    color: red;
    transform: scale(1.2);


}

li img {
    width: 80px;
    transition: all 0.3s;

}

li img:hover {
    transform: scale(1.1);
}

.carrossel {
    width: 95%;
    max-width: 2200px;
    max-height: 800px;
    overflow-x: auto;
    margin: auto;
    display: flex;
    position: relative;
    top: 100px;
    scroll-behavior: smooth;
    anchor-name: --carrossel;
    scroll-snap-type: x mandatory;


}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel::scroll-button(right),
.carrossel::scroll-button(left) {
    content: '🠖';
    border: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel;
    position-area: right center;
    translate: -50%;
    transition: all 0.3s;
}

.carrossel::scroll-button(left) {
    content: '🠔';
    position-area: left center;
    translate: 50%;
}

.carrossel::scroll-button(right):disabled,
.carrossel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carrossel::scroll-button(right):hover,
.carrossel::scroll-button(left):hover {
    transform: scale(1.05);
}

.card {
    scroll-snap-align: start;
    flex: 0 0 100%;
    padding: 1em;
    border-radius: .5em;
    align-content: center;
    object-fit: cover;
    overflow: hidden;


}

.card img {
    width: 100%;
    transition: all 0.3s;
    border-radius: 10px;

}

.card img:hover {
    transform: scale(1.05);
}


.container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;
    margin-top: 150px;

}

.container h1 {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 0.3s;
    margin-bottom: 1%;


}

.lado {
    display: flex;
    flex-direction: column;

}

.container h1:hover {
    transform: scale(1.05)
}

.container img {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    width: 100%;
    max-width: 650px;
}

.container img:hover {
    transform: scale(1.05);
}

.historia {
    display: flex;
    color: white;
    flex-direction: column;
    max-width: 800px;
    margin-top: 5%;
}

.historia h2 {
    margin-bottom: 2%;
    font-weight: 900;

}


.rebaixamento {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;

}

.rebaixamento h1 {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 0.3s;
    margin-bottom: 1%;
}

.rebaixamento h1:hover {
    transform: scale(1.05)
}

.rebaixamento img {
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    max-width: 615px;
    border-radius: 10px;
}

.lado1 {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.lado1 img:hover {
    transform: scale(1.05);
}

.rebaixamento-historia {
    display: flex;
    flex: 1;
    color: white;
    flex-direction: column;
    max-width: 800px;
    margin-top: 5%;
}

.rebaixamento-historia h2 {
    margin-bottom: 2%;
    font-weight: 900;
}

.redencao {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
    color: white;
    flex-wrap: wrap;

}

.redencao h1 {
    text-align: center;
    width: 100%;
    margin-top: 2%;
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 0.3s;
    margin-bottom: 1%;
}

.redencao h1:hover {
    transform: scale(1.05)
}

.redencao img {
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
    height: auto;
}

.lado2 {
    display: flex;

    min-width: 300px;
    flex-direction: column;

}

.lado2 img:hover {
    transform: scale(1.05);
}

.redencao-historia {
    display: flex;
    color: white;
    flex: 1;
    flex-direction: column;
    max-width: 800px;
    margin-top: 5%;
}

.redencao-historia h2 {
    margin-bottom: 2%;
    font-weight: 900;

}

.titulos {
    display: flex;
    justify-content: center;

}

.titulos h1 {
    margin-top: 2%;
    font-weight: 900;
    transition: all 0.3s;
}

.titulos h1:hover {
    transform: scale(1.05)
}

.tacas {
    width: 100%;
    max-width: 700px;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    scroll-behavior: smooth;
    anchor-name: --tacas;
    scroll-snap-type: x mandatory;



}

.tacas::-webkit-scrollbar {
    display: none;
}

.tacas::scroll-button(right),
.tacas::scroll-button(left) {
    content: '🠖';
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --tacas;
    position-area: right center;
    translate: -50%;
    transition: all 0.3s;
}

.tacas::scroll-button(left) {
    content: '🠔';
    position-area: left center;
    translate: 50%;
    color: black;
}

.tacas::scroll-button(right):disabled,
.tacas::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.tacas::scroll-button(right):hover,
.tacas::scroll-button(left):hover {
    transform: scale(1.2);
}

.card1 {
    scroll-snap-align: start;
    flex: 0 0 100%;
    padding: 1em;
    border-radius: .5em;
    align-content: center;
    object-fit: cover;
    overflow: hidden;


}

.card1 img {
    width: 100%;
    max-width: 300px;
    transition: all 0.3s;
    border-radius: 10px;


}

.card1 h2 {
    margin-left: 170px;
}

.card1 h1 {
    display: flex;
    justify-content: center;
    transition: all 0.3s;

}

.card1 h1:hover {
    transform: scale(1.05);
}

.card1 img:hover {
    transform: scale(1.05);
}

.elencoH {
    display: flex;
    justify-content: center;

}

.elencoH h1 {
    margin-top: 2%;
    font-weight: 900;
    transition: all 0.3s;
}

.elencoH h1:hover {
    transform: scale(1.05);
}

.elenco {
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    scroll-behavior: smooth;
    anchor-name: --elenco;
    scroll-snap-type: x mandatory;

}

.elenco img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    transition: all 0.3s;
    border-radius: 10px;
    margin-left: 80px;


}

.elenco::-webkit-scrollbar {
    display: none;
}

.elenco::scroll-button(right),
.elenco::scroll-button(left) {
    content: '🠖';
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --elenco;
    position-area: right center;
    translate: -50%;
    transition: all 0.3s;
}

.elenco::scroll-button(left) {
    content: '🠔';
    position-area: left center;
    translate: 50%;
    color: black;
}

.elenco::scroll-button(right):disabled,
.elenco::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.elenco::scroll-button(right):hover,
.elenco::scroll-button(left):hover {
    transform: scale(1.2);
}
footer {
    background-color: rgb(26, 25, 25);
    color: #fff;
    display: flex;
    font-size: 15px;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footerContainer {
    display: flex;
    gap: 60px;
    margin-top: 40px;
}

.footerLogo img {
    width: 100%;
    max-width: 40px;
    transition: all 0.3s;
}

.footerLogo img:hover {
    transform: scale(1.05);
}

.links {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.links a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;



}

.links a:hover {
    color: red;
    transform: scale(1.05);
}

.version {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;


}


.janela {
  display: flex;
  
}

.headerLeft a {
  text-decoration: none;
  color: white;
}
.headerLeft img{
    width: 100%;
    max-width: 80px;
}

.headerLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid white;
  background-color: #212124;
}

.headerLeft h1 {
  color: white;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.botaoNav {
  width: 50%;
  color: white;
  background-color: black;
  border-radius: 12px;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s;
}
.graficosPai{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grafico{
    height: 350px;
    width: 45%;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

.kpiPai{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 100px;
}
.kpi {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 260px;
    height: 200px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-weight: 700;
    border-radius: 12px;
    border: 1px solid white;
    
}
.kpi span{
    display: flex;
    text-align: center;
    align-self: center;
    font-weight: 900;
    font-size: x-large;
}
.kpi p{
    display: flex;
    text-align: center;
    font-size: medium;
      
}



.botaoNav h3,
.botaoLogout h3,
.quiz h3 {
  margin: 0;
  padding: 0;
}

.botaoLogout {
  margin: 0;
  padding: 0;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 0.3s;
}
.quiz {
  margin: 0;
  padding: 0;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.botaoNav:hover{
     color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;

}
.botaoLogout:hover{
     color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;

}
.quiz:hover{
     color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;

}
.novoBody{
   
    background-image: url(../assets/neo_quimica_arena-wallpaper_em_4k_ds_3840x2160.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;

}
.comecarQuiz{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 950px;
    min-height: 80vh;
    margin: 80px auto;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}
.comecarQuiz .botaoIniciar{
  width: 20%;
  color: white;
  background-color: black;
  border-radius: 12px;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s;
  align-self: center;
}
.comecarQuiz .botaoIniciar:hover{
      color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;

}
.pontuacaoDurante{
    display: flex;
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
    padding: 8px;
    align-items: center;
    font-weight: 400px;
    background-color: #212124;
    border-radius: 12px;
    
}
.pontuacaoDurante .acertos{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: 400px;
    
    

}
#spanCertas, #spanErradas,#spanPontuacaoFinal{
    font-weight: bold;
}

.pontuacaoDurante .final{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: 400px;
    text-align: center;

}
.pontuacaoDurante .finalMsg{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 20px;
    font-weight: bold;
}


.perguntas{
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    min-height: 300px;
    margin-left: 10px;
    background-color: #212124;
    border-radius: 10px;
}
.perguntas .info{
    
    margin-top: 20px;
}
#spanNumeroDaQuestaoAtual{
    font-weight: bold;
}
#qtdQuestoes{
    font-weight: bold;
}
.perguntas #perguntaDaQuestaoAtual{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.perguntas #infoAlternativas{
    margin-top: 10px;
}
#opcoes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    font-weight: bold;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 15px;
}
#botoes{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}
#btnSubmeter{
  width: 100%;
  max-width: max-content;
  color: white;
  background-color: black;
  border-radius: 12px;
  border: 2px solid white;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s;
  align-self: center;
  font-weight: bold;
  max-height: max-content;
}
#btnSubmeter:hover{
    color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;
}

#btnConcluir{
  width: 100%;
  max-width: max-content;
  color: white;
  background-color: black;
  border-radius: 12px;
  border: 2px solid white;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s;
  align-self: center;
  font-weight: bold;
  max-height: max-content;
  margin-bottom: 110px;
}
#btnConcluir:hover{
    color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;
}
#btnTentarNovamente{

  width: 100%;
  max-width: max-content;
  color: white;
  background-color: black;
  border-radius: 12px;
  border: 2px solid white;
  text-align: center;
  padding: 10px 15px;
  transition: all 0.3s;
  align-self: center;
  font-weight: bold;
  max-height: max-content;
  margin-bottom: 110px;
}
#btnTentarNovamente:hover{
    color: red;
    transform: scale(1.1);
    border: 2px solid transparent;
    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, red, black, white) border-box;
    cursor: pointer;
}

.ranking{
    background-color: black;
    color:white;
    margin: auto;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    gap: 20px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid white;
}
.tabelas{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
    width: 100%;
    margin: auto;
    
    
}